<div id="buttons_zone">
  <div id="received_button" onclick="received_letters(); ">
    <p>RECU</p>
  </div>
  <div id="sent_button" onclick="sent_letters(); ">
    <p>ENVOYÉ</p>
  </div>
  <div id="nouveau" >
    <%= link_to new_message_path(uuid: params[:uuid]) do %>
    <p>NOUVEAU</p>
    <% end %>
  </div>
</div>
<div id="read_written">

  <% @received_messages.each do |sent_message| %>
    <div class="page_with_content">
      <div class="correspondance">
        <p><%= sent_message.content %></p>
      </div>
    </div>
  <% end %>

  <!--<div class="page_with_content">
    <div id="London" class="correspondance">
      <h3>London</h3>
      <p>London is the capital city of England.</p>
    </div>
  </div>-->

</div>

<div id="write_section">
  <% @sent_messages.each do |sent_message| %>
    <div class="page_with_content">
      <div class="correspondance">
        <p><%= sent_message.content %></p>
      </div>
    </div>
  <% end %>
</div>

<script>
  function received_letters() {
    document.getElementById("received_letter").style.visibility = "visible";
  }

  function sent_letters() {
    document.getElementById("sent_letter").style.visibility = "visible";
  }

  function writeNewLetter() {
    remove_correspondant();
    document.getElementById("write_section").style.visibility = "visible";
    document.getElementById("page_full").style.visibility = "visible";
    document.getElementById("close").style.visibility = "visible";
  }

  function closef() {
    document.getElementById("write_section").style.visibility = "hidden";
    document.getElementById("page_full").style.visibility = "hidden";
    document.getElementById("close").style.visibility = "hidden";
    remove_correspondant();
  }
</script>