<div id="page_full">
  <%= form_for @message, url: messages_path(uuid: params[:uuid]) do |f| %>

  <div id="page">
    <div id="page_inner_wrapper"></div>
    <p id="dear">To: <%= @message.recipient.full_name %></p>
    <div id="page_content">
      <%= f.text_area :content, id: "letter_content" %>
    </div>
  </div>
  <input type="submit" value="Send letter to the post office" class="submit_letter">

  <% end %>
</div>
