<%= form_with scope: :session, url: sessions_path, local: true, id: "sign_in_form_back" do |f| %> 

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit %>

<% end %>