<%= form_for @user do |f| %>

  <%= f.label :firstname %>
  <%= f.text_field :firstname %>

  <%= f.label :lastname %>
  <%= f.text_field :lastname %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit %>

<% end %>