<div id="new_corres">
  <div id="new_corres_wrapper">
    <input type="submit" value="Correspondant aléatoire" class="submit_letter" id="random">
    <%= form_with url: dashboard_random_friend_path, local: true, id: "get_user" do %>

      <%= text_field_tag :uuid, nil, { placeholder: "Code", id: "fill_user" } %>
      <%= submit_tag "Ajouter", id: "find_person_submit" %>

    <% end %>
  </div>
</div>

<div id="notifications">
  <div id="notif_wrapper">
    <div id="notif_wrapper_text">
      <h3>Invitation</h3>
      <p>Invite a friend ! My code: <%= "#{User.first.uuid}" %></p>

      <p>Pending request</p>
      <ul>
      <% current_user.pending_requests.each do |friendship| %>

        <li><%= friendship.friend.full_name %></li>

      <% end %>
      </ul>

      <p>Incoming request</p>
      <ul>
      <% current_user.incoming_requests.each do |friendship| %>

        <li>
          <%= friendship.user.full_name %> 
          <%= link_to "Accept", friendship_path(friendship), method: :patch %> 
          <%= link_to "Reject", friendship_path(friendship), method: :delete %></li>

      <% end %>
      </ul>
    </div>
  </div>
</div>