<div id="header">
  <div class="menu_element">
    <a href="#about">
      <p>About</p>
    </a>
  </div>
  <div class="menu_element">
    <a href="#how_to">
      <p>How does it work?</p>
    </a>
  </div>
  <div class="menu_element">
    <% if signed_in? %>
    <p>
      <p><%= link_to "Dashboard", dashboard_path %></p>
    </p>
    <% else %>
    <a href="#inscription">
      <p>Sign up / Sign in</p>
    </a>
    <%end%>
  </div>
</div>
<div id="home">
  <div class="bande_left"></div>
  <div class="bande_right"></div>
  <div id="logo_slogan">
    <div id="logo_img">
      <%= image_tag "Logo2.png", alt:"Dear Unknown", id:"big_logo"%>
    </div>
    <p>- Comme une lettre à la poste -</p>
  </div>
  <div id="home_bottom"></div>
</div>
<div id="how_to">
  <div class="bande_left"></div>
  <div class="bande_right"></div>
  <div id="how_to_block">
    <h1>HOW DOES IT WORK ?</h1>
    <svg id="mySVG1">
      <polyline points="
                60, 10
                10, 10
                10, 450
                700, 450
                700, 10
                450, 10
                " fill="none" stroke="#4b5e53" stroke-width="10" />
    </svg>
    <p>The concept is simple. You send and receive letters, just like in the old days.</br>
      Find your correspondent and never get bored again.</br>
    </p>
  </div>
</div>
<div id="inscription">
  <div id="sign_in_form">
    <div class="go_back_from_form">
      <p onclick="dismissSignIn();"class="subscribe_buttons">Back</p>
    </div>
    <h1>Let's Go!</h1>
    <div id="sign_in_form_fields">
        <%= form_with scope: :session, url: sessions_path, local: true, id: "sign_in_form_back" do |f| %> 
          <%= f.email_field :email , id:"email", placeholder:"email"%>
          <%= f.password_field :password, id:"password_sign_in", placeholder:"password" %>
          <%= f.submit "Log In", id:"submit_button_sign_in"%> 
        <% end %>
    </div>
  </div>
  <div id="sign_up_form">
    <div class="go_back_from_form">
      <p onclick="dismissSignUp();" class="subscribe_buttons">Back</p>
    </div>
    <h1>Get Started!</h1>
    <div id="sign_up_form_fields">
      <%= form_for @user, html: { id:"sign_up_form_back"} do |f| %>
        <%= f.text_field :firstname, id:"fname",  placeholder:"First name" %>
        <%= f.text_field :lastname, id:"lname", placeholder:"Last name"%>
        <%= f.email_field :email , id:"email2", placeholder:"Email"%>
        <%= f.password_field :password, id:"password_sign_in2", placeholder:"Password" %>
        <%= f.password_field :password_confirmation, id:"password_sign_in2", placeholder:"Password confirmation" %>
        <%= f.submit "Sign Up", id:"submit_button_sign_up"%>
      <% end %>
      
    </div>
  </div>
  <svg id="mySVG3">
    <path fill="none" stroke="#4b5e53" stroke-width="10" id="triangle" d="M10 300 L500 300 L500 10 L10 10 Z" />
  </svg>
  <script>
    // Get the id of the <path> element and the length of <path>
    var triangle = document.getElementById("triangle");
    var length = triangle.getTotalLength();

    // The start position of the drawing
    triangle.style.strokeDasharray = length;

    // Hide the triangle by offsetting dash. Remove this line to show the triangle before scroll draw
    triangle.style.strokeDashoffset = length;

    // Find scroll percentage on scroll (using cross-browser properties), and offset dash same amount as percentage scrolled
    window.addEventListener("scroll", myFunction);

    function myFunction() {
      var scrollpercent = (document.body.scrollTop + document.documentElement.scrollTop) / (document.documentElement.scrollHeight - document.documentElement.clientHeight);

      var draw = length * scrollpercent * 1.5;

      // Reverse the drawing (when scrolling upwards)
      triangle.style.strokeDashoffset = length - draw;
    }
  </script>
  <div id="pop_up_subscribe">
    <h1>WANT TO WRITE ?</h1>
    <div id="button_zone">
      <% if signed_in? %>
      <div class="subscribe_buttons" id="sign_in">
        <p><a href="/dashboard" style="color: white;";>Dashboard</a></p>
      </div>
      <% else %>
      <div class="subscribe_buttons" id="sign_in">
        <p onclick="sign_in_event();" id="sign_in_p">Sign In</p>
      </div>
      <div class="subscribe_buttons" id="sign_up">
        <p onclick="sign_up_event();" id="sign_up_p">Sign Up</p>
      </div>
      <% end %>
    </div>
    <script>
      function btn_set_zIndex(i){
        document.getElementById("sign_up_p").style.zIndex = i
        document.getElementById("sign_in_p").style.zIndex = i
      }
      function sign_in_event() {
        document.getElementById("sign_in_form").style.visibility = "visible";
        btn_set_zIndex(0);
      }
      
      function sign_up_event() {
        document.getElementById("sign_up_form").style.visibility = "visible";
        btn_set_zIndex(0);
      }

      function dismissSignIn() {
        document.getElementById("sign_in_form").style.visibility = "hidden";
        btn_set_zIndex(1);
      }

      function dismissSignUp() {
        document.getElementById("sign_up_form").style.visibility = "hidden";
        btn_set_zIndex(1);
      }
    </script>

  </div>
  <div id="lettre">
    <%= image_tag "lettre.png", alt:"lettre", id: "lettre_image" %>
  </div>

</div>
<div id="about">
  <div class="bande_left"></div>
  <div class="bande_right"></div>
  <div id="about_block">
    <h1>ABOUT</h1>
    <svg id="mySVG2">
      <polyline points="
                470, 10
                10, 10
                10, 450
                700, 450
                700, 10
                640, 10
                " fill="none" stroke="#ebc489" stroke-width="10" />
    </svg>
    <p>
      Rethink the concept of pen-friend in digital form.</br>
      We aim to reconnect people together and fight instant messaging to achieve authentic communication, therefore there is a minimum length required for every message ! 
    </p>
  </div>
  <div id="about_footer">
    Dear Unknown : Copyright @2020 
  </div>
</div>