/********GENERAL**********/

html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    overflow-y: hidden;
}

@font-face {
    font-family: 'Gotu';
    src: url('design/fonts/Gotu-Regular.ttf') format('truetype');
    font-family: 'BalooThambi';
    src: url('design/fonts/BalooThambi2-Regular.ttf') format('truetype');
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 'BalooThambi', Arial;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 20px;
}


/********HEADER**********/

#header {
    width: 100%;
    min-width: 600px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    text-align: right;
    background-color: #ebc489;
    position: relative;
}

#header * {
    margin: 0px;
}

.menu_element {
    float: right;
    display: inline-block;
    text-transform: uppercase;
    height: 25px;
    top: calc(50% - 13px);
    position: relative;
    width: 100px;
}

.menu_element p {
    color: white;
    position: relative;
    right: 20px;
}

#profile p {
    right: 20px;
}

#profile {
    display: none;
}

#close {
    height: 50px;
    width: 50px;
    text-align: center;
    position: relative;
    left: calc(50% - 25px);
    color: white;
    visibility: hidden;
}

#close p {
    font-size: 35px;
    z-index: 10;
}

#close p:hover {
    cursor: pointer;
}


/******BACKGROUND********/

#background {
    display: block;
    height: calc(100% - 50px);
    width: 700px;
    min-width: 700px;
    left: calc(50% - 350px);
    position: absolute;
    top: 50px;
}

#back {
    width: 500px;
    margin-left: calc(50% - 250px);
    margin-top: calc(50% - 250px);
    opacity: 0.3;
}


/*****LEFT SECTION******/


/* Style the tab */

#correspondant {
    float: left;
    background-color: #fdf5e5;
    width: 110px;
    height: 100%;
}

#left_part {
    height: calc(100% - 50px);
    width: 110px;
}


/* Style the buttons that are used to open the tab content */

#correspondant button {
    display: block;
    background-color: inherit;
    color: #ebc489;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
}


/* Change background color of buttons on hover */

#correspondant button:hover {
    background-color: #ebc489;
    color: #fdf5e5;
}


/* Create an active/current "tab button" class */

#correspondant button.active {
    background-color: #ebc489;
    color: #fdf5e5;
}

#boxLetter {
    max-width: 100px;
    height: auto;
    margin: auto;
}


/* Style the tab content */

.correspondance {
    height: 300px;
    max-width: 660px;
    margin-top: 20px;
    margin-left: 20px;
    height: calc(100% - 40px);
}


/*****RIGHT SECTION*****/

#right_section {
    position: absolute;
    width: 180px;
    right: 15px;
    top: 70px;
    height: 250px;
    text-align: center;
    /*background-color: #fdf5e5;*/
}

#right_section * {
    margin: 0px;
}

#stamp_box {
    position: relative;
    width: 160px;
    height: 100px;
    padding: 0px;
    text-align: center;
    border-style: solid;
    border-radius: 8px;
    border-color: #4b5e53;
    border-width: 8px;
}

#stamp {
    max-width: 70px;
    height: auto;
}

#stamp_number {
    width: 80px;
    height: 50px;
    float: right;
    margin-top: 10px;
}

#stamp_number p {
    font-size: 50px;
    color: #ebc489;
}

#stamp_img {
    width: 70px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.buttons {
    background-color: #4b5e53;
    height: 50px;
    width: 175px;
    border-radius: 8px;
    position: relative;
    top: 15px;
}

.buttons:hover {
    background-color: #64d5d0;
    border-radius: 8px;
    cursor: pointer;
}

.buttons p {
    position: relative;
    text-align: center;
    top: 10px;
    left: calc(50% - 75px);
    width: 150px;
    height: 30px;
    color: white;
    text-transform: uppercase;
}

#buy_button {
    background-color: #ebc489;
}

#new_letter {
    margin-top: 15px;
}


/*****CENTER*******/

#center {
    width: 700px;
    height: calc(100% - 50px);
    position: absolute;
    top: 50px;
    left: calc(50% - 350px);
    min-height: 400px;
}

#buttons_zone {
    position: absolute;
    top: 20px;
    text-align: center;
    left: calc(50% - 225px);
    z-index: 1;
}

#buttons_zone * {
    margin: 0;
}

#buttons_zone div {
    display: inline-block;
    background-color: #4b5e53;
    width: 150px;
    height: 50px;
    color: white;
}

#buttons_zone div:hover {
    background-color: #64d5d0;
    cursor: pointer;
}

#buttons_zone div p {
    margin-top: 10px;
}

#sent_button {
    margin-left: -4px;
}

#received_button {
    border-radius: 8px 0px 0px 8px;
}

#nouveau p{
    color: white;
}

#nouveau{
    border-radius: 0px 8px 8px 0px;
    font-size: 15px;
    width: 100px;
    margin-left: -5px;
}

#write_section {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 1;
    top: 0px;
    position: absolute;
    visibility: hidden;
}

#page {
    width: 600px;
    height: calc(100% - 250px);
    min-height: 300px;
    background: repeating-linear-gradient( 30deg, #4b5e53, #4b5e53 20px, #ffffff 20px, #ffffff 30px, #ebc489 30px, #ebc489 50px, #ffffff 50px, #ffffff 60px);
    position: absolute;
    top: 20px;
    left: calc(50% - 300px);
    z-index: 3;
    border-radius: 5px;
}

.submit_letter {
    position: absolute;
    padding: 10px;
    outline: none;
    text-transform: uppercase;
    z-index: 4;
    border-radius: 8px;
    width: 270px;
    height: 50px;
    background-color: #4b5e53;
    border: none;
    color: white;
    bottom: 100px;
    left: calc(50% - 135px);
}

.submit_letter:hover {
    background-color: #64d5d0;
    cursor: pointer;
}

#page_full {
    position: absolute;
    min-height: 550px;
    height: 100%;
    width: 600px;
    z-index: 5;
    top: 0px;
    left: calc(50% - 300px);
}


/*#page::-webkit-scrollbar {
  width: 15px;
  background-color: green;
}

#page::-webkit-scrollbar {
  width: 15px;
  background-color: green;
}

#page::-webkit-scrollbar-thumb {
  color: blue;
}*/

#page_content {
    height: calc(100% - 150px);
    width: calc(100% - 100px);
    margin: auto;
    margin-top: 100px;
}

#page_inner_wrapper {
    width: 560px;
    height: calc(100% - 40px);
    background-color: #fdf5e5;
    position: absolute;
    z-index: -1;
    left: 20px;
    top: 20px;
}

#letter_content {
    width: calc(100% - 80px);
    height: 100%;
    overflow-y: scroll;
    border-width: 0px;
    font-size: 20px;
    background-attachment: local;
    background-image: linear-gradient(to right, white 40px, transparent 40px), linear-gradient(to left, white 40px, transparent 40px), repeating-linear-gradient(white, white 22px, #ccc 22px, #ccc 23px, white 23px);
    padding-left: 40px;
    padding-right: 40px;
    resize: none;
}

#dear {
    position: absolute;
    left: 50px;
    top: 20px;
    font-size: 50px;
    margin: 0px;
}

#receiver_user {
    width: 200px;
    height: 50px;
    background-color: white;
    position: absolute;
    left: 180px;
    top: 30px;
}

#receiver_user input {
    outline: none;
    height: 50px;
    width: 200px;
    text-transform: uppercase;
    color: gray;
}

#new_corres {
    width: 400px;
    height: 270px;
    background: repeating-linear-gradient( 30deg, #4b5e53, #4b5e53 20px, #ffffff 20px, #ffffff 30px, #ebc489 30px, #ebc489 50px, #ffffff 50px, #ffffff 60px);
    position: absolute;
    left: calc(50% - 200px);
    top: 20px;
    z-index: 2;
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

#new_corres_wrapper {
    width: 360px;
    height: 230px;
    background-color: #fdf5e5;
    margin-left: 20px;
    margin-top: 20px;
}

#random {
    position: relative;
    top: 40px;
}

#find_person_submit {
    width: 150px;
    height: 50px;
    background-color: #4b5e53;
    outline: none;
    border-radius: 8px;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    color: white;
    float: right;
}

#find_person_submit:hover {
    background-color: #64d5d0;
    cursor: pointer;
}

#get_user {
    position: relative;
    top: 90px;
    left: calc(50% - 135px);
    width: 270px;
    height: 50px;
}

#fill_user {
    position: absolute;
    width: 100px;
    left: 0px;
    height: 25px;
    outline: none;
    top: 10px;
}


/*****SCROLLBAR ON LETTER******/

::-webkit-scrollbar {
    width: 15px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    width: 15px;
    background-color: #4b5e53;
}


/************MAIN PANEL************/

#read_written {
    width: 700px;
    height: calc(100% - 100px);
    min-height: 400px;
    max-height: calc(100% - 100px);
    overflow-y: scroll;
    position: relative;
    top: 100px;
}

.page_with_content {
    background-color: white;
    width: calc(100% - 160px);
    height: 700px;
    max-width: 700px;
    position: relative;
    left: 80px;
    margin-bottom: 50px;
    overflow-y: scroll;
}

#read_written::-webkit-scrollbar-thumb {
    width: 15px;
    background-color: #ebc489;
}


/*****************NOTIFCATIONS*****************/
#notifications{
    background-color: #ebc489;
    width: 400px;

    margin-left: calc(50% - 200px);
    margin-top: 300px;
    border-radius: 8px;
}

#notif_wrapper{
    width: 380px;
    background-color: #fdf5e5;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#notif_wrapper_text{
    width: 320px;

    margin-top: 10px;
    margin-left: 10px;
}

#notifications p{
    font-size: 14px;
}

