/********GENERAL**********/

html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Gotu';
    src: font-url('Gotu-Regular.ttf') format('truetype');
    font-family: 'BalooThambi';
    src: font-url('BalooThambi2-Regular.ttf') format('truetype');
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 'BalooThambi', Arial;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 20px;
}


/********HEADER**********/

#header {
    width: 100%;
    min-width: 600px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: #ebc489;
    position: relative;
}

#header * {
    margin: 0px;
}

.menu_element {
    display: inline-block;
    min-width: 200px;
    text-transform: uppercase;
    height: 25px;
    top: calc(50% - 13px);
    position: relative;
}

.menu_element p {
    color: white;
}
.menu_element a {
  color: white;
}

/********MAIN PART OF HOME**********/

#home {
    margin: 0px;
    padding: 0px;
    height: calc(100% - 50px);
    text-align: center;
    width: 100%;
}


/*remove any margins in any block insisde home*/

#home * {
    margin: 0px;
}


/*#home h1 {
    font-size: 70px;
}*/

#logo_slogan {
    height: 450px;
    position: absolute;
    top: calc(50% - 225px);
    width: 100%;
}

#logo_slogan p {
    font-size: 30px;
    position: absolute;
    top: 320px;
    width: 400px;
    left: calc(50% - 200px);
}


/***********LOGO*****************/

#big_logo {
    width: 550px;
    /*2048 x 2048*/
}


/********BANDES**************/

.bande_left {
    width: 30px;
    height: 100%;
    float: left;
    background-image: image-url("bandes_cropped_left.png");
    /* Original background size: 1719 X 227*/
    background-size: 30px 227px;
}

.bande_right {
    width: 30px;
    height: 100%;
    float: right;
    background-image: image-url("bandes_cropped_right.png");
    /* Original background size: 1719 X 227*/
    background-size: 30px 227px;
}


/********FOOTER OF HOME**********/

#home_bottom {
    width: 250px;
    height: 10px;
    position: absolute;
    top: 630px;
    left: calc(50% - 125px);
    background-color: #ebc489;
}


/********HOW TO PAGE**********/

#how_to {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}


/*remove any margins in any block insisde home*/

#how_to * {
    margin: 0px;
}

#how_to h1 {
    position: absolute;
    margin-top: 60px;
    margin-left: calc(50% - 280px);
    width: 370px;
    height: 40px;
}

#how_to_block {
    height: 550px;
    width: 800px;
    position: relative;
    margin-left: calc(50% - 400px);
    top: calc(50% - 300px);
}

#how_to_block p,
#about_block p {
    position: absolute;
    top: 120px;
    left: 80px;
}

#how_to_block p {
    margin: auto;
    text-align: left;
    max-width: 600px;
}


/********INSCRIPTION PAGE**********/

#inscription {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #fdf5e5;
    position: relative;
}

#inscription * {
    margin: 0px;
}

#inscription h1 {
    color: #64d5d0;
    top: 50px;
    position: relative;
    font-size: 40px;
}

#sign_in {
    margin-bottom: 15px;
}

#sign_in * {
    margin: 0px;
}

#sign_up * {
    margin: 0px;
}

#sign_in p,
#sign_up p {
    color: white;
    width: 100%;
    height: 25px;
    position: relative;
    left: 0px;
    top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.subscribe_buttons {
    background-color: #4b5e53;
    min-height: 50px;
    width: 250px;
    border-radius: 8px;
    color: white;
}

.subscribe_buttons p:hover {
    background-color: #64d5d0;
    border-radius: 8px;
    position: relative;
    height: 50px;
    width: 250px;
    color: white;
    cursor: pointer;
}

.subscribe_buttons p {
    position: relative;
    top: calc(50% - 15px);
    left: calc(50% - 75px);
    width: 150px;
    height: 30px;
    color: white;
    text-transform: uppercase;
    z-index: 1;
}

#button_zone {
    margin: auto;
    width: 250px;
    margin-top: 90px;
    height: 125px;
}

#mySVG3 {
    height: 310px;
    position: absolute;
    width: 510px;
    top: 20px;
    left: calc(50% - 250px);
    text-align: center;
}

#sign_up_form {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: #fdf5e5;
    visibility: hidden;
}

#sign_in_form {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: #fdf5e5;
    visibility: hidden;
}

#sign_in_form_fields {
    width: 300px;
    height: 200px;
    position: absolute;
    margin-left: calc(50% - 150px);
    top: 110px;
    background: repeating-linear-gradient( 30deg, #4b5e53, #4b5e53 20px, #ffffff 20px, #ffffff 30px, #ebc489 30px, #ebc489 50px, #ffffff 50px, #ffffff 60px);
    border-radius: 8px;
}

#sign_up_form_fields {
    width: 300px;
    height: 365px;
    position: absolute;
    left: calc(50% - 150px);
    top: 110px;
    border-radius: 8px;
    background: repeating-linear-gradient( 30deg, #4b5e53, #4b5e53 20px, #ffffff 20px, #ffffff 30px, #ebc489 30px, #ebc489 50px, #ffffff 50px, #ffffff 60px);
}

#sign_in_form_back {
    background-color: #fdf5e5;
    position: relative;
    top: 20px;
    left: 20px;
    width: 260px;
    height: 160px;
}

#sign_up_form_back {
    background-color: #fdf5e5;
    width: 260px;
    position: absolute;
    top: 20px;
    left: calc(50% - 130px);
    height: 325px;
}

#submit_button_sign_in {
    position: absolute;
    padding: 10px;
    top: 200px;
    left: calc(50% - 42px);
    text-transform: uppercase;
    font-size: 20px;
    outline: none;
    background-color: #4b5e53;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

#submit_button_sign_up {
    position: absolute;
    padding: 10px;
    top: 350px;
    left: calc(50% - 42px);
    text-transform: uppercase;
    font-size: 20px;
    outline: none;
    background-color: #4b5e53;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

#lettre_image {
    width: 685px;
}

#lettre {
    width: 685px;
    position: absolute;
    left: calc(50% - 342px);
    top: 230px;
}

input {
    padding: 10px;
    border: 0px;
    -webkit-border-radius: 0;
}

#email,
#password_sign_in,
#email2,
#fname,
#lname,
#password_sign_in2 {
    margin-top: 30px;
}

.go_back_from_form {
    height: 50px;
    width: 100%;
    background-color: #ebc489;
    position: absolute;
    top: 0px;
}

.go_back_from_form p {
    width: 100px;
    position: absolute;
    left: calc(50% - 160px);
    top: 9px;
    line-height: 50px;
    color: white;
}

.go_back_from_form p:hover {
    cursor: pointer;
}


/********ABOUT PAGE**********/

#about {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

#about * {
    margin: 0px;
}

#about_footer {
    width: 100%;
    height: 25px;
    position: absolute;
    top: calc(100% - 25px);
    background-color: #ebc489;
    color: white;
    line-height: 50px;
}

#about h1 {
    position: absolute;
    margin-top: 60px;
    left: calc(75% - 75px);
    width: 150px;
    height: 40px;
}

#about_block {
    height: 550px;
    width: 800px;
    position: relative;
    margin-left: calc(50% - 400px);
    top: 60px;
}

#about_block p {
    margin: auto;
    text-align: left;
    max-width: 600px;
}


/*********ANIMATIONS**********/

#mySVG1,
#mySVG2 {
    min-width: 710px;
    min-height: 460px;
    margin-top: 70px;
}