<!DOCTYPE html>
<html>
  <head>
    <title>Mailbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'mailbox', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

    <%= render "layouts/flash" %>

    <div id="header">
      <div class="menu_element">
        <%= link_to logout_path, method: :delete do %>
          <p>Log out</p>
        <% end %>
      </div>
      <div class="menu_element">
        <a id="profile" href="index.html">
          <p>Profile</p>
        </a>
      </div>
      <div id="close">
        <p onclick="closef(); "><b>X</b></p>
      </div>
    </div>

    <div id="left_part">
      <div id="correspondant">
        <button class="tablinks">
          <a href="/dashboard"><%= image_tag "box_close.png", id: "boxLetter" %></a>
        </button>
        <% current_user.friends.each do |friend| %>
          <a href="<%= messages_path(uuid: friend.uuid) %>"><button class="tablinks"><%= friend.full_name %></button></a>
        <% end %>
      </div>

      <div id="background" class="correspondance">
        <%= image_tag "logo_back.png", id: "back" %>
      </div>
    </div>

    <div id="center">
      <%= yield %>
    </div>

    <div id="right_section">

      <div id="stamp_box">
        <div id="stamp_img">
          <%= image_tag "stamp.png", id: "stamp" %>
        </div>
        <div id="stamp_number">
          <p><b>67</b></p>
        </div>
      </div>
      <div class="buttons" id="buy_button">
        <a href="index.html">
          <p>Donate</p>
        </a>
      </div>

    </div>

  </body>
</html>
